*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   
}
.container{
    
    border: 1px solid black;
    width: 400px;
    /* border-radius: 30%; */
    /* background-color: #FFDC40 ; */
    border-top-right-radius: 10px;
    border-top-left-radius:  10px;
   
  

  margin: auto;
}

.hedr{
    border-top: 20px solid #FFDC40 ;
    margin: 3px;
   
    border-top-right-radius: 10px;
    border-top-left-radius:  10px;
  
}
h1{
   text-align: center;
   margin: 3px;
}
.input{
   position: relative;
   padding: 1px;
}

.input input{
    width: 100%;
}
.input span{
    
    position: absolute;
    right: 5%;
    

}
.sorted{
    display: flex;
    justify-content: right;
    margin: 3px;
     
}
.list-div{
    display: none;
    background-color: #FFDC40;
    margin: 3px;
    border: 1px solid rgb(44, 40, 40);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius:  10px;
   
}
.row{
    position: relative;
}
.sil{
    position: absolute;
    right: 5px;
}
.sil:hover{
    background-color: blueviolet;
} 
.list-ul{
    justify-content: space-between;
    list-style-type:none;
    margin: 5px;
   
}
.list-ul li{
    text-align: center;
}
.list-ul li span{
    text-align: center;
   margin: 2px;
}

.btn-div{
   text-align: center;
   margin: 3px;
}
.input-clear{
    padding: 1px;
}
.input-clear:hover{
    background-color: antiquewhite;
}
