* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   
}

.container {
    width: 100%;
    margin: auto;
    background: #E5E5E5;
    padding: 20px 20px;
}

section {
    margin: auto;
}

.section-1,
.section-2
.section-3 
.section-4{
    width: 80%;
}

.row,
.futer-list {
    display: flex;
    justify-content: space-between;
}

.futer-list div {
    padding: 20px;
}

.content-1 {
    width: 50%;
}

h1 {
    font-size: 60px;
}

.h1div {
    width: 80%;
}

.h1div p,
h {
    padding: 10px;
}

.content-img {
   width: 90%;
}
.futer-img img {
    width: 100%;
}

.photo-div {
    margin: auto;
    width: 250px;
    height: 150px;
    background-color: #1E4681;
}

.photo-div-p-1 {
    padding: 20px 20px 2px 20px;
}

.photo-div-p-2 {
    padding: 2px 20px 20px 20px;
    text-align: right;
}

.title-column {}

main {
    background: #E5E5E5;
}

.wd-80 {
    width: 80%;
}

.mr-0 {
    margin: 0 auto;
    font-size: 40px;
    font-weight: bold;
}

.textContent {
    display: flex;
    width: 95%;
    margin: 50px auto;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px 0;
}

.text1 {
    width: 15%;
}

.fs-25 {
    font-size: 25px;
    color: rgb(73, 207, 207);
    font-weight: 700;
}

.listContent {
    width: 75%;
    margin: 0 auto;
}

.list {
    width: 45%;
}

.list ul li {
    margin: 5px;
}

.neoyrenirik {
    margin: 40px 0;
    padding: 20px 0;
}

.flex3 {
    display: flex;
    width: 80%;
    margin: 25px auto;
    
}
.wd-80s{
    width: 30%;
    margin: 10px;
}

.flex4 {
    display: flex;
    width: 80%;
    margin: 30px auto;
    justify-content: space-between;
}

/* .sekil {
    width: 100%;
} */

.sekil img {
    width: 100%;
}

/* .wd-80s {
    width: 70%;
} */

.seki2 {
    width: 50%;
}

.seki2 img {
    width: 100%;
}

.pbas {
   width: 100%;
   font-size: 17px;
    font-weight: 800;
    margin: 10px;
}
.pbas-1 {
    width: 100%;
    font-size: 16px;
     font-weight: 400;
     margin: 10px;
 }

aside {
    margin: 50px 0;
    padding: 50px 0;
}

.mr {
    margin: 0 50px;
}

.pfutUp {
    width: 50%;
    margin: 0 95px;
}

.d-flex {
    display: flex;
    padding: 10px 110px;
}

.size {
    padding-top: 20px;
}

.pekt {
    padding-top: 40px;
    font-size: 1em;
    font-weight: 700;
}
.section-3 {
   background-color: #9DC9C8;
   margin: auto;
   padding: 20px 40px;
   
}
.section-3 h3{
    font-family: Roboto Slab;
font-size: 32px;
font-weight: 700;
line-height: 32px;
letter-spacing: 0em;
text-align: left;

}

.c-1 {
margin: 10px;

}
.section-3-flex-div{
   margin-right: 20px;
}
.section-3-flex-div h4{
    margin-bottom: 10px;
 }
 .section-3-flex-div p{
   font-size: 12px;
 }
.section-3 div span{
    font-family: Roboto;
font-size: 14px;
font-weight: 400;
line-height: 14px;
letter-spacing: 0em;
text-align: left;

}
.section-3 div h2{
    font-family: Roboto;
/* font-size: 46px;
font-weight: 400;
line-height: 47px;
letter-spacing: 0em;
text-align: left; */

}
section-3-flex-div{
font-family: Roboto;
margin: 0;
/* font-size: 10px;
font-weight: 400;
line-height: 10px;
letter-spacing: 0em;
text-align: left; */

}
section-3-flex-div h4,p{
   margin: auto;
    
    }

.c1{
   width: 60%;
}
.futer-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    
}
.futer-section div img{
    color: #000000;
}
.section-4 {
    background-color: #000000;
}
.img-a {
    display: block;
    align-items: center;
    
}
.img-a-1{
    align-items: center;
}
.img-a-1 img{
}
.elaqe{
    align-items: center;
}
.elaqe a{
    color: #ffff;

}
.elaqe img{
    width: 8%;
    margin:0 5px;
}
.elaqe a{
   display: block;
}
.elaqe span{
    width: 100%;
}
.futer-sosial {
    padding: 40px;
}
futer-img{
    display: block;
}
.futer-sosial ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.article-1{
    display: flex;
    justify-content: wrap;
    flex-wrap: wrap;
   width: 80%;
   align-items: center;
   margin-left: 110px;
}
.article-p{
    margin: 10px 10px 10px 0px;
}
.futer-span{
    color:#ffff;
    margin: 0px 10px 20px 50px;
    padding: 0 0 20px 0;
}




@media (max-width: 830px) {
    .futer-img {
        display: none;

    }
    .article-1{

    }
}

@media (max-width: 560px) {
    .futer-img {
        display: none;
    }
    .futer-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .row {
        display: block;
    }
    .flex3{
        display: block
    }
    .article-1{
        display: block;
    }
    .neoyrenirik{
        width: 100%;
    }
    .futer-sosial{
        padding: 0;
    }
    .futer-section{
        display: block;
        padding: 50px;
    }
    .elaqe span{
        width: 100%;
        font-size: 10px;
    }
    .listContent{
        width: 100%;
    }
    .list{
        width: 100%;
    }
    .textContent{
        display: block;
    }
    .fs-25 {
        font-size : 15px;
        width: 100%;
    }
    .text1{
        width: 100%;
    }
    .article-1{
        margin: 0;
        margin-left: 0px;
    }
    .wd-80s{
        width: 100%;
        margin: 0px;
    }
    .sekil{
      width: 100%;
    }
    .mr{
        margin: 0px;
    }
    .pfutUp {
         width: 100%; 
        margin: 0px 0px; 
    }
}

